version: '3.8'

services:
  website:
    image: node:18-alpine
    container_name: madwell_website
    restart: unless-stopped
    ports:
      - "3000:3000"
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - NODE_ENV=development
